{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "KEY_VAULT_URL": "",
    "DOCUMENT_INTELLIGENCE_ENDPOINT": "",
    "TEXT_ANALYTICS_ENDPOINT": "",
    "OPENAI_ENDPOINT": "",
    "OTLP_EXPORTER_ENDPOINT": "http://localhost:14317"
  }
}
